table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #8cb6cc;
  }