<div id="search">
    <form id="search-form" class="m-b-m search-container">
        <div class="search-container-left">
            <div class="select">
                <label class="label" for="filterOptions">Academic year:</label>
                <select name="academic_year" class="select-frame" id="filterOptions">
                    <option value="All">All</option>
                    <option value="2021/2022">2021/2022</option>
                    <option value="2022/2023">2022/2023</option>
                    <option value="2023/2024">2023/2024</option>
                </select>
            </div>
            <div class="select">
                <label class="label" for="filterOptions">Type of training:</label>
                <select name="type_of_training" class="select-frame" id="filterOptions">
                    <option value="All">All</option>
                    <option value="Alternating engineering degree">Alternating engineering degree</option>
                    <option value="Engineering Degree">Engineering Degree</option>
                    <option value="University Degree">University Degree</option>
                    <option value="Master">Master</option>
                </select>
            </div>
            <div class="select">
                <label class="label" for="filterOptions">Formation:</label>
                <select name="formation" class="select-frame" id="filterOptions">
                    <option value="All">All</option>
                    <option value="Engineering training with a student status in Mechanics and Ergonomics">Engineering training with a student status in Mechanics and Ergonomics</option>
                    <option value="Engineering training with student status in Energy and Electrical Engineering">Engineering training with student status in Energy and Electrical Engineering</option>
                    <option value="Engineering training under Industrial Engineering student status">Engineering training under Industrial Engineering student status</option>
                    <option value="Undergraduate">Undergraduate</option>
                    <option value="Engineering training with a student status in Mechanics">Engineering training with a student status in Mechanics</option>
                    <option value="Engineering training with a student status in Computer Science">Engineering training with a student status in Computer Science</option>
                </select>
            </div>
            <div class="select">
                <label class="label" for="filterOptions">Spinneret:</label>
                <select name="spinneret" class="select-frame" id="filterOptions">
                    <option value="All">All</option>
                    <option value="Smart Building & Energy Efficiency">Smart Building & Energy Efficiency</option>
                    <option value="Electrical Power Generation">Electrical Power Generation</option>
                    <option value="Grids & Electrical Power Conversion">Grids & Electrical Power Conversion</option>
                    <option value="Electronics & Embedded Systems">Electronics & Embedded Systems</option>
                    <option value="Machine Leaning & AI">Electronics & Embedded Systems</option>
                </select>
            </div>
        </div>
        <div class="search-container-right">
            <div class="select">
                <label class="label" for="filterOptions">Language:</label>
                <select name="language" class="select-frame" id="filterOptions">
                    <option value="All">All</option>
                    <option value="CN">CN</option>
                    <option value="EN">EN</option>
                    <option value="FR">FR</option>
                </select>
            </div>
            <div class="select">
                <label class="label" for="filterOptions">Category:</label>
                <select name="category" class="select-frame" id="filterOptions">
                    <option value="All">All</option>
                    <option value="OM">OM</option>
                    <option value="CS">CS</option>
                    <option value="QC">QC</option>
                    <option value="ST">ST</option>
                    <option value="EC">EC</option>
                    <option value="TM">TM</option>
                </select>
            </div>
            <div class="select">
                <label class="label" for="filterOptions">Semester:</label>
                <select name="semester" class="select-frame" id="filterOptions">
                    <option value="All">All</option>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Autumn">Autumn</option>
                    <option value="Winter">Winter</option>
                </select>
            </div>
            <div class="select">
                <label class="label" for="query">Search:</label>
                <input class="select-frame"  type="search" name="query" id="query"
                placeholder="Search for the name of a course...">
            </div>
        </div>
    </form>
    <input id="submit" class="submit-button" type="submit" value="Submit" />
</div>